.header {
    background-color: #000;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-left: 50px;
}

.filmflexlogo {
   height: 40px;
}

.buttons-container {
    margin-right: 50px;
}

.watch-button {
    border: 1px solid #f40612;
    color: white;
    background-color: #f40612;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px;
    transition: opacity 1s;
    margin-right: 20px;
}

.search-button {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px;
    transition: opacity 1s;
}

.watch-button:hover {
    opacity: 0.8;
}