
<p class="slider-title">{{genre}}</p>

<div class="scroll-wrapper">


<div class="movies-container">


        <div *ngFor="let movie of movies; let i = index" class="movie">
            <div *ngIf="movie.name.length<50">
            <div class="movie-thumbnail">
                <a [routerLink]="['movie/',movie.id]" routerLinkActive="active">
                    <img [src]="movie.thumbnail" alt="">
                </a>
            </div>
            <div class="movie-title">
                <p class="movie-title-content">{{movie.name}}</p>
            </div>
            </div>
        </div>




        </div>



   



</div>
