        <div class="slider">
            <div class="movies-container">

                <div *ngFor="let movie of movies; let i = index" class="movie"
                    [ngStyle]="{'transform': 'translateX(' + (i - currentIndex) * 10 + '%)'}">
                    <div class="movie-thumbnail">
                        <a [routerLink]="['movie/',movie.id]" routerLinkActive="active">
                    <img [src]="movie.thumbnail" alt="">
                        </a>
                    </div>
                    <div class="movie-title">
                        <p>{{movie.name}}</p>
                    </div>
                </div>
            </div>
        
        </div>
        <button (click)="prev()"><</button>
        <button (click)="next()">></button>