.movie {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}
.movie-thumbnail:hover {
    scale: 1.03;
    opacity: 0.5;
}

.movie-thumbnail {
    margin-bottom: 0;
}

.movie-title {
    display: flex;
    justify-content: center;
    color: rgb(256,256,256,0.9);
    font-weight: 900;
    font-size: 15px;
}

.movie-title-content {
    text-align: center;
}


.scroll-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 40px;

    margin-left: 0px;
    padding-left: 0px;
        scrollbar-color: #f40612 gray;
                /* "thin" or "auto" */
            /* thumb color, track color */
}

.slider-title {
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 7px;
}