<div class="commentaire">
    <div class="upper-commentaire">
        <div class="profile-pic">
            <p class="profile-pic-letter">{{profileLetter}}</p>
        </div>
        <div class="profile-details">
            <p class="profile-username">{{firstName}} {{lastName}}</p>
            <p class="profile-rating">{{date}}</p>
        </div>
    </div>
    <div class="commentaire-content">
        <p class="commentaire-content-text">{{commentaire}}</p>
    </div>
    <div class="commentaire-reaction">
        <div class="icon-container">
            <img src="../../assets/like-right-svgrepo-com.svg" alt="">
        </div>
            <p class="like">{{like}}</p>
        <div class="icon-container">
            <img src="../../assets/dislike-svgrepo-com.svg" alt="">
        </div>
    </div>
</div>


